int main()  
{  
float Long1=;
float Long2=;
float Long3=;
float Long4=;
float Long5=;
float Lat1=;
float Lat2=;
float Lat3=;
float Lat4=;
float Lat5=;
float distance1;
float distance2;
float distance3;
float distance4;
float TotalDistance ;  

Long1=Long1*Pi/180;
Long2=Long2*Pi/180;
Long3=Long3*Pi/180;
Long4=Long4*Pi/180;
Long5=Long5*Pi/180;

Lat1=Lat1*Pi/180;
Lat2=Lat2*Pi/180;
Lat3=Lat3*Pi/180;
Lat4=Lat4*Pi/180;
Lat5=Lat5*Pi/180;


  
    distance1 = sqrt( (Long2 - Long1)*(Long2 - Long1) + (Lat2 - Lat1)*(Lat2 - Lat1) );  
  
    printf("Distance between (%f, %f) and (%f, %f) is %f\n", Long1, Lat1, Long2, Lat2, distance1);  
  
  
   
  
   distance2 = sqrt( (Long3 - Long2)*(Long3 - Long2) + (Lat3 - Lat2)*(Lat3 - Lat2) );  
  
    printf("Distance between (%f, %f) and (%f, %f) is %f\n", Long2, Lat2, Long3, Lat3, distance2);  



  
 distance3 = sqrt( (Long4 - Long3)*(Long4 - Long3) + (Lat4 - Lat3)*(Lat4 - Lat3) );  
  
    printf("Distance between (%f, %f) and (%f, %f) is %f\n", Long3, Lat3, Long4, Lat4, distance3);


 distance4 = sqrt( (Long4 - Long3)*(Long4 - Long3) + (Lat4 - Lat3)*(Lat4 - Lat3) );  
  
    printf("Distance between (%f, %f) and (%f, %f) is %f\n", Long3, Lat3, Long4, Lat4, distance3);
  
  
float TotalDistance=distance1+distance2+distance3+distance4;

 
  
    return 0;  
}  

